<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Calculator</title>
		<link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
		<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
		<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	</head>
	<body>
		<header>
			<h1>Calculator with <strong>AngularJS</strong></h1>
		</header>
		<div class="appWrapper container" ng-app="myApp">
			<div class="row">
				<div class="calculator well" ng-controller="CalcController">
					<section class="screen">
						<div class="text-right"><span ng-bind="visibleState.val" class="display"> {{visibleState.val}} </span></div>
					</section>

<!-- 
					<section class="sideOps buttonGroup">
							<ul class="list-unstyled pull-right">
								<li ng-repeat="operator in operators.sideOps">
									<a href="" ng-click="operator.operation()" class="btn btn-default calcBtn"> {{operator.name}} </a>
								</li>
							</ul>
						</section>
						<section class="topOps buttonGroup">
							<ul class="list-inline">
								<li ng-repeat="operator in operators.topOps">
									<a href="" class="btn btn-default calcBtn"> {{operator.name}} </a>
								</li>
							</ul>
						</section>

 -->
						<section class="numbers buttonGroup">
							<ul class="list-inline">
								<li ng-repeat="num in numbers">
									<a href="" class="btn btn-default calcBtn" ng-click="input($index)"> {{num}} </a>
								</li>
							</ul>
						</section>	

						<section class="bottomOps buttonGroup">
							<ul class="list-inline">
								<li ng-repeat="operator in operators.bottomOps">
									<a href="" ng-click="operator.operation(visibleState)" class="btn btn-default calcBtn"> {{operator.name}} </a>
								</li>
							</ul>
						</section>
					<!-- <btn-group class="sideOps" type="sideBar" subtype="operators" group="'sideOps'"></btn-group> -->
				</div>
			</div>
		</div>
	
	<script src="../../build/built.js"></script>
	</body>
</html>