.appWrapper {
	background-color: #f2f2f2;
}
.calculator {
	background-color: #ddd;
	width: 236px;
	margin: 10px;
}

.screen div {
	height: 50px;
	background-color: #0f0f0f;
	margin: 0 2px;
	overflow: hidden;
}

.screen .display {
	margin-right: 10px;
	font-size: 3em;
	color: #fff;
}

.numbers ul, .numbers ul li {
	transform: scaleY(-1);
}

section.buttonGroup li{
	padding: 2px;
}

section.buttonGroup ul {
	margin: 0;

}

a.calcBtn {
    width: 45px;
    height: 45px;
    font-size: 1.5em;
}

.topOps, .bottomOps, .numbers {
	width: 150px;
}
