<section class="buttonGroup">
	<ul class="list-inline">
		<li>
			<a href="" ng-click="operator.operation(visibleState)" class="btn btn-default calcBtn"> {{operator.name}}</a>
		</li>
	</ul>
</section>
